# Python
venv/
venv12/
*.pyc
__pycache__/

# Environment files
.env

# Node.js
node_modules/

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Database files (if any local sqlite)
*.sqlite3

# Build output folders (if any)
dist/
build/
